@using Web.Models
@model EmployeeViewModel
@{
    ViewBag.Title = "DeleteEmployee";
}

<h2>Delete Employee</h2>

@using (Html.BeginForm())
{
    <br />
    <p>Enter id to remove: @Html.TextBoxFor(x => x.EmployeeId)</p>
    <br />
    <input type="submit" value="Delete" />
}
<br />
<h4>
    @Html.ActionLink("Back to employees", "Index", "Home")
</h4>