@model Web.Models.DepartmentViewModel
@{
    ViewBag.Title = "DepartmentDescription";
}

<h2>Department Description</h2>
<br />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>
    </tr>

</table>
<br />
<h4>
    @Html.ActionLink("Back to Departments", "Index", "Department")
</h4>